body{
    font-family: Arial, sans-serif;
    background:#0b0f1a;
    color:white;
    text-align:center;
    padding:60px;
}

h1{
    font-size:60px;
    color:#4da3ff;
    letter-spacing:3px;
}

p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

button{
    margin-top:30px;
    padding:15px 30px;
    font-size:18px;
    border:none;
    background:#4da3ff;
    color:white;
    cursor:pointer;
    border-radius:6px;
}

button:hover{
    background:#2f7ddb;
}
